#upper-half{
    position: relative;
    max-height: 100px;
    min-height: 100px;
}
#buttons{
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 99vw;
}

#crash-button{
    position: absolute;
    right: 0;
}


td {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

.hidden{
    visibility: collapse;
}

#user-table-body, #shop-table-body{
    text-align: left;
}

#editBtn{
    float: right;
    margin-left: 10px;
}

#shopFunctions, #userSearch{
    padding-top: 10px;
    padding-bottom: 10px;
}

#crash-timer{
    position: absolute;
    right: 0;
    top: 0;
}
