
body {
    background-color: var(--page-bg);
    color: var(--primary-text);
    }

table, td, th {
    border: 1px solid;
}
  
table {
    width: 40%;
    border-collapse: collapse;
}

button {
    position: relative;
    color: var(--primary-text);
}

.button_reserve {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    padding: 10px;
}

.cart-container {
    display: flex;
    align-items: flex-start; /* Aligns items at the top */
    gap: 20px; /* Space between table and summary box */

}

#Confirm_button {
color: black;

}


#cart-summary {
    width: 300px;
    padding: 15px;
    border: 2px solid black;
    background-color: #f9f9f9;
    text-align: center;
    color: black;
}

:root[data-theme="light"] {
    --page-bg:WHITE ;
    --primary-text:Black ;
    --secoundary-text: lightgrey;



    --switch-bg: #c1c1c1;
    --switch-circle-bg: #FFD371;
    --switch-circle-position: 5px;
    --icon-sun: #dfb041;
    --icon-moon: #B1B0B5;
    --form-bg: #eeeeee;
    --form-ph: grey;

}


:root[data-theme="dark"] {
    --page-bg:#383643;
    --primary-text: WHITE ;
    --secoundary-text: lightgrey;

    --switch-bg: #49494c;
    --switch-circle-bg: #7190FF;
    --switch-circle-position: 55px;
    --icon-sun: #545457;
    --icon-moon: #DCE3FF;
    --form-bg: #2B2A35;
    --form-ph: grey;

} 



.top-buttons {
    background: none;
    border: none;
    cursor: pointer;
    padding: 15px;
    font-size: 20px;
    border-left: 1px solid #ccc; /* Vertical line */
}
