/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 15px;
  font-size: 20px;
  border-left: 1px solid #ccc; /* Vertical line */
  color: var(--primary-text);
}

/* Body Styling */
body {
    background: var(--page-bg);
    color: var(--primary-text);
}

footer {
  margin-top: 10px;
  background-color: black;
  padding: 20px;
  text-align: center;
  color: var(--footer-text);
  p, h3 {
      margin: 16px;
  }
}

/* Main Row Layout */
.row {
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
    display: flex;
    align-items: flex-start;
    gap: 5%;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
  

/* Product Image */
.product-image {
  max-width: 40%;
  flex: 1;
  gap: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-image img {
    width: 100%;
    max-width: 400px;
    height: 300px; 
    object-fit: contain;
    background-color: transparent;
    border: 1px solid transparent; 
}

.fixed-shop-button {
    top: 0;
    z-index: 1000;
    background-color: white;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-weight: bold;
    border: 1px solid #ccc;
}


.product-var {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    min-height: 60px; /* Prevent layout shift on load */
}

.product-var img {
    width: 100px;
    height: 100px;
    
    /*border: 2px solid transparent;*/
    /*border: 1px solid #4A7E8F;*/
    box-shadow: 0 3px 8px #6FAFB8;

    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.product-var img:hover {
    transform: scale(1.5);
}

/* Main Product Details */
.main {
  flex: 1;
  min-width: 700px;
}

/* Store Name */
.store-name {
    background: none;
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: #6FAFB8;
    cursor: pointer;
    padding: 0;
}

/* Product Title */
.product-title {
    font-size: 36px;
    color: #4A7E8F;
    font-family: Lucida, serif;
    margin: 5px 0;
}

/* Description */
.product-description {
    font-size: 14px;
    color: #444;
    margin-bottom: 10px;
    color: var(--secoundary-text);
}

/* Specifications */
.specifications {
    list-style-type: none;
    margin-bottom: 15px;
}

.specifications li {
    padding: 3px 0;
}

/* Variant Selection */
.variant-selection {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

#variant-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    margin-top: 10px;
    max-width: 350px;
}

.variant-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 2px solid black;
    background-color: #ffffff;
    box-shadow: 0 2px 6px #6FAFB8;
    overflow: hidden;
}
/* Quantity Selector */
.quantity {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

/* Oval button with +, - and number inside */
.quantity-toggle {
    border: 1px solid #4A7E8F;
    box-shadow: 0 2px 6px #6FAFB8;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    width: 100px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    font-weight: bold;
    user-select: none;
    transition: all 0.2s ease;
}

.quantity-toggle:hover {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 6px #6FAFB8;
  transform: scale(1.02);
}

.stock {
    font-size: 14px;
    color: gray;
}

/* Pricing */
.save {
    font-size: 16px;
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
}

.price {
    font-size: 39px;
    font-weight: bold;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
}

.discount {
    font-size: 16px;
    text-decoration: line-through;
    color: gray;
}

/* Add to Cart Button */
.add-to-cart {
    /*background-color: #ffffff;*/
    border: 2px solid #4A7E8F;
    box-shadow: 0 2px 6px #6FAFB8;
    transition: all 0.2s ease;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    width: 100%;
    border-radius: 25px;
}


#cart_button.add-to-cart {
  margin-top: 5px;
}


#cart_button.add-to-cart:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transform: scale(1.03);
}

/* Image Modal */
#imageModal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  justify-content: center;
  align-items: center;
}

#imageModal img#modalImage {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 0 25px #89C7B0;
  display: block;
  margin: auto;
}

#imageModal .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  font-weight: bold;
  color: #89C7B0;
  cursor: pointer;
  z-index: 10000;
}

.modal-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 60px;
  color: #89C7B0;
  cursor: pointer;
  user-select: none;
  padding: 10px;
  z-index: 10000;
}

#modalLeft {
  left: 20px;
}

#modalRight {
  right: 20px;
}

/* Modal styling */
.hidden {
  display: none;
}

#rating-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: black;
}

.modal-content {
  background: var(--page-bg);
  padding: 20px;
  border-radius: 2px;
  width: 300px;
  position: relative;
  text-align: center;
  color: #6FAFB8;

}

#submit-rating {
  color: #4A7E8F;
  border: 2px solid #4A7E8F;
  border-radius: 25px;
  width: 42%;
  line-height: 5px;
}

#submit-rating:hover {
  background-color: #4A7E8F;
  color: var(--tertiary-text);

}


#close-rating-modal {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 20px;
  color: black;
  border-left: none;
  translate: 10px -15px;
}


.comment-stars {
  font-size: 18px;
  color: goldenrod;
}

#star-rating .star {
  font-size: 28px;
  cursor: pointer;
  color: gray;
  transition: color 0.2s ease;
}

#star-rating .star.hovered,
#star-rating .star.selected {
  color: goldenrod;
}

.textarea-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* aligns the counter to the right */
}

#user-name, #user-comment {
  height: 150px;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
  box-sizing: border-box;
  resize: none;
}

#comment-char-count {
  font-size: 0.75rem;
  margin-top: -6px;
  margin-bottom: 10px;
}
dialog {
    border: none;
    border-radius: 8px;
    padding: 20px;
    max-width: 300px;
  }
  
  .comment-preview {
    min-height: 200px;
    margin-top: 10px;
    max-height: 200px;
    color: #6FAFB8;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word; 
    text-align: left;
  }
  
  .comment-preview h3 {
    margin-bottom: 5px;
  }  
  .comment-list-text{
    color: var(--primary-text);
  }
  
  .average-stars {
    font-size: 18px;
    color: goldenrod;
    margin: 8px 0 12px;
    text-align: left;
  }


  .theme-switcher {
    display: none;
    cursor: none;

}

  :root[data-theme="light"] {
    --page-bg:WHITE ;
    --primary-text:Black ;
    --secoundary-text: rgb(92, 89, 89);
    --footer-text: lightgrey;
    --tertiary-text: white;



    --switch-bg: #c1c1c1;
    --switch-circle-bg: #FFD371;
    --switch-circle-position: 5px;
    --icon-sun: #dfb041;
    --icon-moon: #B1B0B5;
    --form-bg: #eeeeee;
    --form-ph: grey;

}


:root[data-theme="dark"] {
    --page-bg:#383643;
    --primary-text: WHITE ;
    --secoundary-text: lightgrey;
    --footer-text: lightgrey;
    --tertiary-text: white;

    --switch-bg: #49494c;
    --switch-circle-bg: #7190FF;
    --switch-circle-position: 55px;
    --icon-sun: #545457;
    --icon-moon: #DCE3FF;
    --form-bg: #2B2A35;
    --form-ph: grey;

} 


/* Top buttons like "kurv", "login", "signup" */
.top-buttons:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transition: background-color 0.2s ease;
}

