body {
    background: whitesmoke;
}

.productHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    translate: 0px 100px;
}

form {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    width: 400px; /* Adjust width */
    background-color: white;
}

/* Style the input field */
input {
    border: none;
    padding: 11px;
    font-size: 20px;
    flex-grow: 1;
    outline: none;
}

/* Style the search button */
button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 15px;
    font-size: 20px;
    border-left: 1px solid #ccc; /* Vertical line */

}

#h1ProductPage {
    text-align: center;
    font-family: Lucida;
    font-size: 96px;
    margin:10px;
}

.products{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
    align-items: center;
    max-width: 946px;
    margin: auto;
    translate: 0px 150px;
}

.product{
    width: 300px;
    height: 450px;
    background: white;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.productImage{
    max-width: 200px;
    max-height: 200px;
    position: relative;
    translate: 0px -30px;
}

.productName{
    position: relative;
    translate: 0px -30px;
    text-transform: capitalize;
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
}

.productDesc{
    position: relative;
    translate: 0px -40px;
    justify-self: left;
    flex-wrap: wrap;
    font-size: 14px;
}

.productPrice{
    position: relative;
    translate: 0px 50px;
    justify-self: right;
    font-size: 24px;
}

.productDiscount{
    position: absolute;
    font-size: 12px;
    translate: 217px -30px;
    text-align: right;
}