body {
    background: #6addb7;
}

.productHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inputProductSearch{
    align-self: flex-start;
    margin: auto;
    border-radius: 24px;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    outline: 0;
    border-color: #7fffd4;
    border-width: 10px;
    border-style: solid;
    background: #e4ffe5;
}

#h1ProductPage {
    text-align: center;
    font-size: 96px;
    margin:10px;
}

.products{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 860px;
    margin: auto;
}

.product{
    width: 200px;
    height: 300px;
    background: #2f7eac;
}